<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Bienvenidos al Bootcamp de Django</h1>
    <h1>User: {{request.user.email}}</h1>
    {{message}}
    {% for producto in productos %}
        <p>{{producto.nombre}}</p>
        <img src="{{producto.img}}", alt="">
    {% endfor %}

    {% for producto in productos_filtrados %}
        <p>{{producto.nombre}}</p>
        <img src="{{producto.img}}", alt="">
    {% endfor %}

    <img src="{% static 'img/iphone_13_pro_max.jpg' %}", alt="">

    {% if error %}
        <h2>{{error}}</h2>
    {% endif%}
</body>
</html>