<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Bienvenidos al Bootcamp de Django</h1>
    {{message}}

    <h2>Todos los productos</h2>
    {% for producto in productos %}
        <table>
        <tr><td>Nombre:</td><td>{{producto.nombre}}</td></tr>
        <tr><td>Cantidad:</td><td>{{producto.cantidad}}</td></tr>
        <tr><td>Precio:</td><td>{{producto.precio}}</td></tr>
        <tr><td>Descripcion:</td><td>{{producto.descripcion}}</td></tr>
        </table>
        <br>
        <br>
    {% endfor %}

    <h2>Productos precio < 9000</h2>
    {% for producto in productos_filtrados %}
        <table>
        <tr><td>Nombre:</td><td>{{producto.nombre}}</td></tr>
        <tr><td>Cantidad:</td><td>{{producto.cantidad}}</td></tr>
        <tr><td>Precio:</td><td>{{producto.precio}}</td></tr>
        <tr><td>Descripcion:</td><td>{{producto.descripcion}}</td></tr>
        </table>
        <br>
        <br>
    {% endfor %}

    <img src="{% static 'img/iphone_13_pro_max.jpg' %}", alt="">

    {% if error %}
        <h2>{{error}}</h2>
    {% endif%}
</body>
</html>